networks:
    web_dev:
        external: true

services:
    site:
        image: ignf/cartes.gouv.fr-documentation
        build:
            context: .
            dockerfile: ".docker/Dockerfile"
            args:
                - HTTP_PROXY
                - HTTPS_PROXY
        # ports:
        #     - 8082:8082
        environment:
            - HTTP_PROXY=${HTTP_PROXY}
            - HTTPS_PROXY=${HTTPS_PROXY}
            - http_proxy=${HTTP_PROXY}
            - https_proxy=${HTTPS_PROXY}
            - IAM_URL=${IAM_URL}
            - IAM_REALM=${IAM_REALM}
            - IAM_CLIENT_ID=${IAM_CLIENT_ID}
        read_only: true
        tmpfs:
            - /tmp
        restart: unless-stopped
        networks:
            - web_dev
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.cartesgouvfr-documentation.rule=Host(`cartesgouvfr-dev.docker.localhost`) && PathPrefix(`/aide`)"
            - "traefik.http.routers.cartesgouvfr-documentation.entrypoints=websecure"
            - "traefik.http.services.cartesgouvfr-documentation.loadbalancer.server.port=8082"
