---
permalink: /feed/actualites/geoplateforme.xml
title: Changements et évolutions de la Géoplateforme
description: Retrouver les dernières évolutions de la Géoplateforme
path: /fr/guides-utilisateur/utiliser-les-services-de-la-geoplateforme/changements-evolutions
---
{% set fluxRssList = [] %}
{% for entry in collections.all %}
  {% if entry.inputPath.startsWith('./content' ~ path ~ '/') and not entry.inputPath.endsWith('11tydata.js') %}
    {% set _ = fluxRssList.push(entry) %}
  {% endif %}
{% endfor %}
{% set updatedDate = (fluxRssList | reverse)[0].date | dateToRfc3339 %}
{% include "components/flux_rss.njk" %}