---
title: Plan du site
layout: layouts/page.njk
showBreadcrumb: true
---

{% macro renderTree(node) %}
  <ul>
    {% for segment, data in node %}
      <li>
        {% if data.__page %}
          <a href="{{ data.__page.url }}">{{ data.__page.data.title or data.__page.fileSlug }}</a>
        {% else %}
          {{ segment }}
        {% endif %}
        {% if data.__children and (data.__children | length) > 0 %}
          {{ renderTree(data.__children) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{{ renderTree(tree) }}