---
title: Accueil
layout: layouts/home.njk
---

<div class="fr-py-6w fr-background-alt--blue-cumulus">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-10">
                <h1>
                    Centraliser, partager et informer
                    <br />
                    toute la documentation de cartes.gouv.fr
                </h1>
                <p class="fr-text--lead">Accédez à toutes les informations utiles concernant cartes.gouv.fr et les services de la géoplateforme</p>
                <p>
                    <a class="fr-btn fr-btn--primary" href="./guides-developpeur/">{{ "access_guides" | i18n }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
