/* Defaults */
:root {
    --font-family-monospace:
        Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
    --syntax-tab-size: 2;
}

/* Global stylesheet */
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

table {
    margin: 1em 0;
}

table td,
table th {
    padding-right: 1em;
}

pre,
code {
    font-family: var(--font-family-monospace);
}

pre[class*="language-"] {
    margin-bottom: 1.5em !important;
}

pre:not([class*="language-"]) {
    margin: 0.5em 0;
    line-height: 1.375; /* 22px /16 */
    -moz-tab-size: var(--syntax-tab-size);
    -o-tab-size: var(--syntax-tab-size);
    tab-size: var(--syntax-tab-size);
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
}

code {
    word-break: break-all;
}

/* Direct Links / Markdown Headers */
.header-anchor {
    background-image: none;
    text-decoration: none;
    font-style: normal;
    font-size: 1em;
    margin-left: 0.1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
    color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
    text-decoration: underline;
}

a[href].header-anchor:focus,
:hover > a[href].header-anchor {
    color: #aaa;
}

h2 + .header-anchor {
    font-size: 1.5em;
}

/* Custom DSFR */
.fr-pagination__list {
    justify-content: center !important;
}

@media (min-width: 48em) {
    .fr-share__group {
        justify-content: flex-end !important;
    }
}

@media (min-width: 62em) {
    .five-cols > div {
        flex: 0 0 20%;
    }
}

@media (max-width: 48em) {
    .hide-below-md {
        display: none !important;
    }
}

@media (max-width: 62em) {
    .hide-below-lg {
        display: none !important;
    }
}

.fr-responsive-img.fr-ratio-auto {
    object-fit: contain;
}

.fr-quote__image img {
    object-fit: cover;
}

/** Properly render text in Markdown callout containers **/
div.fr-callout__text p {
    font-size: inherit;
    line-height: inherit;
}

/** Missing icons **/
.fr-follow .fr-btn--peertube:before,
.fr-follow .fr-btn--github:before,
.fr-follow .fr-btn--sourcehut:before {
    margin-left: 0;
    margin-right: 0.5rem;
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    --icon-size: 2rem;
    content: "";
}

.fr-follow .fr-btn--peertube:before {
    -webkit-mask-image: url(/icons/logo/peertube.svg) !important;
    mask-image: url(/icons/logo/peertube.svg) !important;
}

.fr-follow .fr-btn--github:before {
    -webkit-mask-image: url(/icons/logo/github-fill.svg) !important;
    mask-image: url(/icons/logo/github-fill.svg) !important;
}

.fr-follow .fr-btn--sourcehut:before {
    -webkit-mask-image: url(/icons/logo/sourcehut.svg) !important;
    mask-image: url(/icons/logo/sourcehut.svg) !important;
}

/* Custom */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.frx-swagger-ui {
    background-color: #ffffff;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.frx-border-img {
    border: 1px solid grey;
    padding: 0.5rem;
}

.frx-img-contained {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.fr-alert {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Copier coller pour element de code */
.copy-to-clipboard-container {
    display: flex;
    justify-content: end;
}

/* Icone copier-coller */
.ri-file-copy-line:after {
    margin-left: 0.5rem;
    margin-right: 0;
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    --icon-size: 1rem;
    content: "";
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M6.9998 6V3C6.9998 2.44772 7.44752 2 7.9998 2H19.9998C20.5521 2 20.9998 2.44772 20.9998 3V17C20.9998 17.5523 20.5521 18 19.9998 18H16.9998V20.9991C16.9998 21.5519 16.5499 22 15.993 22H4.00666C3.45059 22 3 21.5554 3 20.9991L3.0026 7.00087C3.0027 6.44811 3.45264 6 4.00942 6H6.9998ZM5.00242 8L5.00019 20H14.9998V8H5.00242ZM8.9998 6H16.9998V16H18.9998V4H8.9998V6Z'%3E%3C/path%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M6.9998 6V3C6.9998 2.44772 7.44752 2 7.9998 2H19.9998C20.5521 2 20.9998 2.44772 20.9998 3V17C20.9998 17.5523 20.5521 18 19.9998 18H16.9998V20.9991C16.9998 21.5519 16.5499 22 15.993 22H4.00666C3.45059 22 3 21.5554 3 20.9991L3.0026 7.00087C3.0027 6.44811 3.45264 6 4.00942 6H6.9998ZM5.00242 8L5.00019 20H14.9998V8H5.00242ZM8.9998 6H16.9998V16H18.9998V4H8.9998V6Z'%3E%3C/path%3E%3C/svg%3E");
}

/* Page précédente / page suivante */
.page-switcher {
    display: flex;
    justify-content: flex-end;
}

.page-switcher:has(> p.previous-page) {
    justify-content: space-between;
}

/* Home */
.home-background {
    background-size: cover;
    background-position: center;
}

[data-fr-theme="dark"] .home-background {
    border-image: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)) fill 1;
}

/* Header */
.fr-translate__btn::before {
    content: none !important;
}

.fr-translate__menu {
    width: max-content !important;
}

.custom-center-btn {
    display: flex;
    justify-content: center;
}

.importance {
    display: none;
}
