<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>
                                française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <img class="fr-responsive-img" style="max-width: 9.0625rem;"
                                 src="https://data.geopf.fr/annexes/ressources/header/cartes-gouv-logo.svg"
                                 alt="Logo cartes.gouv.fr"/>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn fr-icon-search-line"
                                    data-fr-opened="false" 
                                    aria-controls="modal-474" 
                                    aria-haspopup="dialog"
                                    id="button-475"
                                    title="{{ "search" | i18n }}">{{ "search" | i18n }}</button>
                            <button class="fr-btn--menu fr-btn"
                                    data-fr-opened="false"
                                    aria-controls="modal-491"
                                    aria-haspopup="menu"
                                    id="button-492"
                                    title="{{ "menu" | i18n }}">{{ "menu" | i18n }}</button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ "/" | locale_url }}" title="{{ "home" | i18n }} - {{ metadata.subtitle }} - {{ metadata.title }}">
                            <p class="fr-header__service-title">
                                {{ metadata.title }}
                                <span class="fr-badge fr-badge--sm fr-badge--brown-opera"><span class="fr-icon-question-fill fr-icon--sm"></span>&nbsp;{{ metadata.subtitle }}</span>
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">{{ metadata.description }}</p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <div class="fr-translate fr-nav">
                                    <div class="fr-nav__item">
                                        <button aria-controls="aide-collapse" aria-expanded="false" title="Aide" class="fr-translate__btn fr-btn fr-px-2w">
                                            <span class="fr-icon-question-fill fr-icon--sm fr-mr-1w" aria-hidden="true"></span>Aide</button>
                                        <div class="fr-collapse fr-translate__menu fr-menu" id="aide-collapse">
                                            <ul class="fr-menu__list">
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="/fr/">
                                                        <span class="fr-icon-question-mark fr-icon--sm">&emsp;Questions fréquentes</span></a>
                                                </li>
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="/fr/guides-utilisateur/presentation-utilisateur/generalites-utilisateur/">
                                                        <span class="fr-icon-book-2-line fr-icon--sm">&emsp;Guide d'utilisation</span></a>
                                                </li>
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="https://cartes.gouv.fr/nous-ecrire">
                                                        <span class="fr-icon-mail-line fr-icon--sm">&emsp;Nous contacter</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="fr-translate fr-nav">
                                    <div class="fr-nav__item">
                                        <button aria-controls="services-collapse" aria-expanded="false" title="Services" class="fr-translate__btn fr-btn fr-px-2w">
                                            <span class="fr-icon-grid-fill fr-icon--sm fr-mr-1w" aria-hidden="true"></span>Services</button>
                                        <div class="fr-collapse fr-translate__menu fr-menu" id="services-collapse">
                                            <ul class="fr-menu__list">
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="https://cartes.gouv.fr/explorer-les-cartes/">
                                                        <span class="fr-icon-road-map-line fr-icon--sm">&emsp;Explorer les cartes</span></a>
                                                </li>
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="{{ urls.rechercher_une_donnee }}/search">
                                                        <span class="fr-icon-search-line fr-icon--sm">&emsp;Rechercher une donnée</span></a>
                                                </li>
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="https://cartes.gouv.fr/publier-une-donnee">
                                                        <span class="fr-icon-database-line fr-icon--sm">&emsp;Publier une donnée</span></a>
                                                </li>
                                                <li>
                                                    <div>
                                                        <a href="https://cartes.gouv.fr/decouvrir"
                                                            class="fr-btn fr-btn--tertiary fr-btn--sm custom-center-btn fr-mt-3v fr-mx-2w"
                                                            target="_blank"
                                                            rel="noopener noreferrer">
                                                            Découvrir cartes.gouv.fr
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="header-auth">
                                    <button class="login-btn fr-icon-account-circle-fill fr-btn" type="button" title="Se connecter">Se connecter</button>
                                </div>
                            </li>
                        </ul>
                        {# {% include "templates/translate.njk" %} #}
                    </div>
                    <div class="fr-header__search fr-modal" id="modal-474" aria-labelledby="button-475">
                        <div class="fr-container fr-container-lg--fluid">
                            <button class="fr-btn--close fr-btn" aria-controls="modal-474" title="{{ "close" | i18n }}">{{ "close" | i18n }}</button>
                            <div class="fr-search-bar" id="header-search" role="search">
                                <label class="fr-label" for="search-784-input">Recherche</label>
                                <input class="fr-input"
                                       placeholder="Rechercher"
                                       type="search"
                                       id="search-784-input"
                                       name="search-784-input">
                                <button class="fr-btn" title="Rechercher">Rechercher</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal"
         id="modal-491"
         aria-labelledby="button-492">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn"
                    aria-controls="modal-491"
                    title="{{ "close" | i18n }}">{{ "close" | i18n }}</button>
            <div class="fr-header__menu-links"></div>
            {% include "templates/navigation.njk" %}
        </div>
    </div>
</header>