<nav class="fr-sidemenu fr-sidemenu--sticky-full-height fr-mb-0-5v" role="navigation" aria-labelledby="fr-sidemenu-title">
    <div class="fr-sidemenu__inner fr-pt-12v">
        <div class="fr-sidemenu__title" id="fr-sidemenu-title">
            <a href="{{ sidemenuLink }}">{{ sidemenuTitle }}</a>
        </div>
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <ul class="fr-sidemenu__list">
                {% for link in navLinks %}
                    {% set linkUrl = link.url | locale_url(lang) %}
                    <li class="fr-sidemenu__item">
                        {% if not link.children | length %}
                            <a class="fr-sidemenu__link" href="{{ linkUrl }}"{% if linkUrl == page.url %} aria-current="page"{% endif %}>
                                {{ link.title }}
                            </a>
                        {% else %}
                            {# Level 2 #}
                            <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="sidemenu-{{ loop.index }}">
                                {{ link.title }}
                            </button>
                            <div class="fr-collapse" id="sidemenu-{{ loop.index }}">
                                <ul class="fr-sidemenu__list">
                                    {% for sublink in link.children %}
                                        <li class="fr-sidemenu__item">
                                            {% if not sublink.children | length %}
                                                {% set sublinkUrl = sublink.url | locale_url(lang)or sublink.externalUrl %}
                                                <a class="fr-sidemenu__link"
                                            href="{{ sublinkUrl }}" {% if sublink.externalUrl %} target="_blank" rel="noopener"{% endif %}{% if sublinkUrl == page.url %} aria-current="page"{% endif %}>
                                                    {{ sublink.title }}
                                                </a>
                                            {% else %}
                                                {# Level 3 #}
                                                <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="sidemenu-{{ loop.index }}">
                                                    {{ sublink.title }}
                                                </button>
                                                <div class="fr-collapse" id="sidemenu-{{ loop.index }}">
                                                    <ul class="fr-sidemenu__list">
                                                        {% for subsublink in sublink.children %}
                                                            <li class="fr-sidemenu__item">
                                                                {% set subsublinkUrl = subsublink.url | locale_url(lang)or subsublink.externalUrl %}
                                                                <a class="fr-sidemenu__link"
                                                            href="{{ subsublinkUrl }}" {% if subsublink.externalUrl %} target="_blank" rel="noopener"{% endif %}{% if subsublinkUrl == page.url %} aria-current="page"{% endif %}>
                                                                    {{ subsublink.title }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<script>
    (() => {
        const currentUrl = window.location.href;
        const activeLink = [...document.querySelectorAll('.fr-sidemenu__link')].find(link => link.href === currentUrl);

        if (activeLink) {
            activeLink.setAttribute("aria-current", "page");

            let parent = activeLink.closest(".fr-collapse");
            while (parent) {
                const toggleButton = parent.previousElementSibling;
                if (
                    toggleButton
                    ?.classList.contains("fr-sidemenu__btn")) {
                    toggleButton.setAttribute("aria-expanded", "true");
                }
                parent = parent
                    .parentElement
                    .closest(".fr-collapse");
            }
        }
        document
            .querySelectorAll(".fr-sidemenu__link")
            .forEach(link => link.addEventListener("click", (e) => {
                document
                    .querySelectorAll(".fr-sidemenu__link")
                    .forEach(l => l.removeAttribute("aria-current"));
                e
                    .currentTarget
                    .setAttribute("aria-current", "page");
            }));
    })();
</script>