{% if items and items.length %}
  <div class="fr-grid-row fr-grid-row--gutters fr-mt-6w">
    {% for item in items %}
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-{{ columns or 4 }}">
        {% set card = {
          title: item.data.title,
          url: item.url,
          description: item.data.description,
          image: item.data.image,
          small: small_cards,
          show_image: show_images
        } %}
        {% include "components/card.njk" %}
      </div>
    {% endfor %}
  </div>
{% endif %}
