{% if format %}
    {% for item in format %}<span class="fr-hidden" data-pagefind-filter="format">{{ item }}</span>{% endfor %}
{% endif %}
{% if espace %}
    {% for item in espace %}<span class="fr-hidden" data-pagefind-filter="espace">{{ item }}</span>{% endfor %}
{% endif %}
{% if profil %}
    {% for item in profil %}<span class="fr-hidden" data-pagefind-filter="profil">{{ item }}</span>{% endfor %}
{% endif %}
{% if tags %}
    {% for item in tags %}<span class="fr-hidden" data-pagefind-filter="tags">{{ item }}</span>{% endfor %}
{% endif %}
