{% if format %}
    {% for item in format %}<span class="fr-hidden" data-pagefind-filter="format">{{ item }}</span>{% endfor %}
{% endif %}
{% if espace %}
    {% for item in espace %}<span class="fr-hidden" data-pagefind-filter="espace">{{ item }}</span>{% endfor %}
{% endif %}
{% if profile %}
    {% for item in profile %}<span class="fr-hidden" data-pagefind-filter="profile">{{ item }}</span>{% endfor %}
{% endif %}
