{% set items = params.items %}
{% macro sidemenuList(subItems) %}
    {% for item in subItems %}
        <li class="fr-sidemenu__item">
            {% if item.children.length > 0 %}
                <button class="fr-sidemenu__btn"
                        aria-expanded="false"
                        aria-controls="{{ item.id }}">{{ item.name }}</button>
                <div class="fr-collapse" id="{{ item.id }}">
                    <ul class="fr-sidemenu__list">
                        {{ sidemenuList(item.children) }}
                    </ul>
                </div>
            {% else %}
                <a class="fr-sidemenu__link" href="#{{ item.id }}" target="_self">{{ item.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
<nav class="fr-sidemenu fr-sidemenu--sticky-full-height"
     role="navigation"
     aria-labelledby="fr-sidemenu-title">
    <div class="fr-sidemenu__inner">
        <button class="fr-sidemenu__btn"
                aria-controls="fr-sidemenu-wrapper"
                aria-expanded="false">Sommaire</button>
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <div class="fr-sidemenu__title" id="fr-sidemenu-title">Sommaire</div>
            <ul class="fr-sidemenu__list">
                {{ sidemenuList(items) }}
            </ul>
        </div>
    </div>
</nav>
<script>
(() => {
    // trouver le tag "a" correspondant au hash
    const hash = window.location.hash
    const link = document.querySelector(`.fr-sidemenu__link[href='${hash}']`);

    if (link) {
        link.ariaCurrent = "page"

        /**
         * Parcourir les liens du sidemenu, (boucle jusqu'à trouver fr-sidemenu__inner)
         * - si l'élément à la classe fr-collapse (c'est la div qui enrobe la sous-liste actuelle), ajouter sur sur son element précédent (le button) el.previousElementSibling.ariaExpanded = true pour ouvrir le collapse.
         * - Et lui ajouter l'attribut aria-current="true"
         */
        let el = link.parentElement
        do {
            if (el?.classList?.contains("fr-collapse")) {
                el.previousElementSibling.ariaExpanded = true
                el.ariaCurrent = "true"
            }

            el = el.parentElement
        } while (!el?.classList?.contains("fr-sidemenu__inner")); // on est arrivés an haut du sommaire, on a fini la boucle
    }

    const allLinks = document.querySelectorAll("a.fr-sidemenu__link")

    const handleClick = (e) => {
        allLinks.forEach(link => link.ariaCurrent = null)
        e.currentTarget.ariaCurrent = "page"
    }

    allLinks.forEach(link => {
        link.addEventListener("click", handleClick)
    })
})();
</script>
