<ul class="fr-tags-group" data-pagefind-ignore>
    {% for tag in tags | filterTagList %}
        <li>
            <p class="fr-tag {% if small_tags %} fr-tag--sm {% endif %}">{{ tag }}</p>
        </li>
    {% endfor %}
</ul>
