{% if not tile %}
    {% set tile = params %}
{% endif %}
<div class="fr-tile {% if tile.small %} fr-tile--sm {% endif %} {% if tile.black %} tile--black{% endif %} fr-enlarge-link">
    <div class="fr-tile__body">
        <div class="fr-tile__content">
            {% if tile.url is string %}
                {% set tileUrl = tile.url %}
            {% else %}
                {% set tileUrl = tile.externalUrl %}
            {% endif %}
            {% set urlDescription %}{{ tile.title }}{% if tile.externalUrl %} - {{ "new_window" | i18n }}{% endif %}{% endset %}
            {% set title_tag = tile.title_tag | default("h4") %}
            {% if title_tag not in ["p", "h2", "h3", "h4", "h5", "h6"] %}
                {% set title_tag = "h4" %}
            {% endif %}
            <{{- title_tag }} class="fr-tile__title">
                <a class="fr-tile__link"
                   href="{{ tileUrl }}"
                   title="{{ urlDescription }}"
                   {% if tile.externalUrl %}target="_blank" rel="noopener"{% endif %}>{{ tile.title }}</a>
            </{{- title_tag -}}>
            <p class="fr-tile__desc">{{ tile.description }}</p>
            {% if tile.tileTag %}
                <div class="fr-tile__start">
                    <p class="fr-tag {{ tile.tileTag.icon }} fr-tag--icon-left">{{ tile.tileTag.label }}</p>
                </div>
            {% endif %}
        </div>
    </div>
    {% if tile.pictogram %}
        <div class="fr-tile__header">
            <div class="fr-tile__pictogram">
                {% set pictogramUrl = "/artwork/pictograms/" + tile.pictogram %}
                {% if tile.pictogram.slice(-4) == ".png" %}
                    <img src="{{ pictogramUrl | htmlBaseUrl }}"
                        alt=""
                        width="80"
                        height="80"
                        class="fr-artwork" />
                {% else %}
                    <svg aria-hidden="true"
                        class="fr-artwork"
                        viewBox="0 0 80 80"
                        width="80px"
                        height="80px">
                        <use class="fr-artwork-decorative" href="{{ pictogramUrl | htmlBaseUrl }}#artwork-decorative"></use>
                        <use class="fr-artwork-minor" href="{{ pictogramUrl | htmlBaseUrl }}#artwork-minor"></use>
                        <use class="fr-artwork-major" href="{{ pictogramUrl | htmlBaseUrl }}#artwork-major"></use>
                    </svg>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
