{% if items and items.length %}
    <div class="fr-grid-row fr-grid-row--gutters fr-my-1v" data-pagefind-ignore>
        {% for item in items %}
            <div class="fr-col-12 fr-col-md-6 fr-col-lg-{{ columns or 4 }}">
                {% set tile = {
                    title: item.data.title,
                    title_tag: title_tag,
                    url: item.url,
                    description: item.data.description,
                    pictogram: item.data.pictogram,
                    externalUrl: item.data.externalUrl,
                    tileTag: item.data.tileTag
                } %}
                {% include "components/tile.njk" %}
            </div>
        {% endfor %}
    </div>
{% endif %}