---
# Metadata comes from _data/metadata.json
permalink: /feed/feed.xml
numberOfLatestPostsToShow: 10
---
{% set title = metadata.subtitle ~ " | " ~ metadata.title %}
{% set description = metadata.description %}
{% set fluxRssList = collections.all %}
{% set updatedDate = collections.posts | getNewestCollectionItemDate | dateToRfc3339 %}
{% include "components/flux_rss.njk" %}