---
# Metadata comes from _data/metadata.json
permalink: /feed/feed.json
numberOfLatestPostsToShow: 10
---
{% set title = metadata.subtitle ~ " | " ~ metadata.title %}
{% set description = metadata.description %}
{% set fluxRssList = collections.all %}
{% include "components/flux_rss_json.njk" %}