---
layout: layouts/base.njk
---

{% from "components/component.njk" import component with context %}
<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-4">
      {% set effectiveNav = sidemenuNav or eleventyNavigation.nav %}
      {% set navContext = effectiveNav | getNavigationContext %}
      {% set navCollection = collections[navContext.collectionName] %}
      {% set navLinks = navCollection | filterCollectionLang | eleventyNavigation %}
      {% set sidemenuTitle = navContext.title %}
      {% include "templates/sidemenu.njk" %}
    </div>
    <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          {% if showBreadcrumb %}
            {% include "components/breadcrumb.njk" %}
          {% endif %}
          <h1>{{ title }}</h1>
          {% include "components/published_on.njk" %}
          {% if description %}
            <p class="fr-text--lead">{{ description }}</p>
          {% endif %}
        </div>
      </div>
      {{ content | safe }}
      {% set topLevelPages = [] %}
      {% for entry in navCollection %}
        {% if not entry.data.eleventyNavigation.parent %}
          {% set _ = topLevelPages.push(entry) %}
        {% endif %}
      {% endfor %}
      {{ component("tile_list", {
          items: topLevelPages | sort(attribute = "data.eleventyNavigation.order"),
          columns: 6,
          title_tag: "h2"
      }) }}
      {% include "components/page_switcher.njk" %}
    </div>
  </div>
</div>