---
layout: layouts/base.njk
---

{% from "components/component.njk" import component with context %}
<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-4">
      {% if eleventyNavigation.nav == "utilisateur" %}
        {% set navLinks = collections.utilisateurNavigation | filterCollectionLang | eleventyNavigation %}
        {% set sidemenuTitle = "Guides utilisateur" %}
      {% elif eleventyNavigation.nav == "producteur" %}
        {% set navLinks = collections.producteurNavigation | filterCollectionLang | eleventyNavigation %}
        {% set sidemenuTitle = "Guides producteur" %}
      {% elif eleventyNavigation.nav == "developpeur" %}
        {% set navLinks = collections.developpeurNavigation | filterCollectionLang | eleventyNavigation %}
        {% set sidemenuTitle = "Guides développeur" %}
      {% endif %}
      {% include "templates/sidemenu.njk" %}
    </div>
    <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          {% if showBreadcrumb %}
            {% include "components/breadcrumb.njk" %}
          {% endif %}
          <h1>{{ title }}</h1>
          {% include "components/taggroup-disabled.njk" %}
          {% include "components/published_on.njk" %}
          {% if description %}
            <p class="fr-text--lead">{{ description }}</p>
          {% endif %}
        </div>
      </div>
      {{ content | safe }}
      {% include "components/page_switcher.njk" %}
    </div>
  </div>
</div>