---
layout: layouts/base.njk
---

{% from "components/component.njk" import component with context %}
<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-4">
      {% set navContext = eleventyNavigation.nav | getNavigationContext %}
      {% set navCollection = collections[navContext.collectionName] %}
      {% set navLinks = navCollection | filterCollectionLang | eleventyNavigation %}
      {% set sidemenuTitle = navContext.title %}
      {% include "templates/sidemenu.njk" %}
    </div>
    <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          {% if showBreadcrumb %}
            {% include "components/breadcrumb.njk" %}
          {% endif %}
          {% if summary.visible %}
            {% set depth = summary.depth | default(1) %}
            {% set summaryItems = content | getSummaryItems(depth) %}
            {% include "components/summary.njk" %}
          {% endif %}
          <h1>{{ title }}</h1>
          {% include "components/published_on.njk" %}
          {% if description and showDescription != false %}
            <p class="fr-text--lead">{{ description }}</p>
          {% endif %}
        </div>
      </div>
      {% if description and showDescription != false %}
        <hr>
      {% endif %}
      {{ content | safe }}
      {% include "components/page_switcher.njk" %}
    </div>
  </div>
</div>