---
layout: layouts/base.njk
---

{% from "components/component.njk" import component with context %}
<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-4">
      {% set navContext = eleventyNavigation.nav | getNavigationContext %}
      {% set navCollection = collections[navContext.collectionName] %}
      {% set navLinks = navCollection | filterCollectionLang | eleventyNavigation %}
      {% set sidemenuTitle = navContext.title %}
      {% include "templates/sidemenu.njk" %}
    </div>
    <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
      <div class="fr-grid-row fr-grid-row--middle">
        <div class="fr-col-12 fr-col-md-9">
          {% if showBreadcrumb %}
            {% include "components/breadcrumb.njk" %}
          {% endif %}
          <h1>{{ title }}</h1>
          {% include "components/published_on.njk" %}
          {% if description %}
            <p class="fr-text--lead">{{ description }}</p>
          {% endif %}
        </div>
        <div class="fr-col-auto fr-ml-md-auto fr-mb-4v">
          <a type="button" class="fr-btn fr-btn--sm fr-icon-rss-line fr-btn--icon-left fr-btn--tertiary" href="{{ fluxRssPath }}">Flux RSS</a>
        </div>
      </div>
      {{ content | safe }}
      {% set currentKey = eleventyNavigation.key %}
      {% set allPages = [] %}
      {% for entry in navCollection %}
        {% if entry.data.eleventyNavigation.parent == currentKey %}
          {% set _ = allPages.push(entry) %}
        {% endif %}
      {% endfor %}
      <p>Filtrer par catégorie :</p>
      <div id="blog-filter-tags" data-pagefind-ignore></div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mt-3v" id="blog-card-list" data-pagefind-ignore></div>
      <nav id="blog-pagination" role="navigation" class="fr-pagination fr-mt-4w" aria-label="Pagination"></nav>
      {% include "components/page_switcher.njk" %}
      <script>
        window.__BLOG_PAGES__ = [
          {% for item in allPages | sort(true, false, "data.date") %}
            {{ {
              title: item.data.title,
              url: '/aide' ~ item.url,
              description: item.data.description,
              tags: item.data.tags | filterTagList,
              date: item.data.date | htmlDateString,
              readableDate: item.data.date | readableDate
            } | dump | safe }},
          {% endfor %}
        ];
      </script>
      <script type="text/javascript" src="/js/blog.js"></script>
    </div>
  </div>
</div>