---
layout: layouts/base.njk
---

{% from "components/component.njk" import component with context %}
<div class="fr-mb-6w">
    <div class="fr-py-3w">
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-10">
                    {% if showBreadcrumb %}
                        {% include "components/breadcrumb.njk" %}
                    {% endif %}
                    <h1>{{ title }}</h1>
                    {% if title != "Nous écrire" and title != "Demande envoyée"%}
                        {% include "components/published_on.njk" %}
                    {% endif %}

                    {% if description %}<p class="fr-text--lead">{{ description }}</p>{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">{{ content | safe }}</div>
        </div>
    </div>
</div>
