---
layout: layouts/base.njk
sidemenu: false
---

{% from "components/component.njk" import component with context %}
<div class="fr-mb-6w">
    <div class="fr-py-6w fr-background-alt--blue-cumulus">
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-10">
                    {% if showBreadcrumb %}
                        {% include "components/breadcrumb.njk" %}
                    {% endif %}
                    <h1 class="fr-mt-6v">{{ title }}</h1>
                    {% if description %}<p class="fr-text--lead">{{ description }}</p>{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container fr-mt-6w" data-pagefind-body>
        <div class="fr-grid-row">
            {% if sidemenu %}
                {% set sideMenuItems = content | getSideMenuItems %}
                <div class="fr-col-12 fr-col-md-4">
                    {{ component("sidemenu", {
                                        items: sideMenuItems
                                        }) }}
                </div>
            {% endif %}
            <div class="fr-col-12 {% if sidemenu %}fr-col-md-8 fr-py-12v{% endif %}">{{ content | safe }}</div>
        </div>
    </div>
</div>
