---
layout: layouts/base.njk
---

{% from "components/component.njk" import component with context %}
<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-4">
      {% set navContext = eleventyNavigation.nav | getNavigationContext %}
      {% set navCollection = collections[navContext.collectionName] %}
      {% set navLinks = navCollection | filterCollectionLang | eleventyNavigation %}
      {% set sidemenuTitle = navContext.title %}
      {% include "templates/sidemenu.njk" %}
    </div>
    <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          {% if showBreadcrumb %}
            {% include "components/breadcrumb.njk" %}
          {% endif %}
          <h1>{{ title }}</h1>
          {% include "components/published_on.njk" %}
          {% if description %}
            <p class="fr-text--lead">{{ description }}</p>
          {% endif %}
        </div>
      </div>
      {{ content | safe }}
      {% if eleventyNavigation and eleventyNavigation.key %}
        {% set currentKey = eleventyNavigation.key %}
        {% set children = [] %}
        {% for entry in navCollection %}
          {% if entry.data.eleventyNavigation.parent == currentKey %}
            {% set _ = children.push(entry) %}
          {% endif %}
        {% endfor %}
        {{ component("tile_list", {
            items: children | sort(attribute = "data.eleventyNavigation.order"),
            columns: 4,
            title_tag: "h2"
        }) }}
      {% endif %}
      {% include "components/page_switcher.njk" %}
    </div>
  </div>
</div>