---
layout: layouts/base.njk
---

{% from "components/component.njk" import component with context %}
<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-4">
      {% if eleventyNavigation.nav == "guides-utilisateur" %}
        {% set navLinks = collections.utilisateurNavigation | filterCollectionLang | eleventyNavigation %}
        {% set navCollection = collections.utilisateurNavigation %}
        {% set sidemenuTitle = "Guides utilisateur" %}
      {% elif eleventyNavigation.nav == "guides-producteur" %}
        {% set navLinks = collections.producteurNavigation | filterCollectionLang | eleventyNavigation %}
        {% set navCollection = collections.producteurNavigation %}
        {% set sidemenuTitle = "Guides producteur" %}
      {% elif eleventyNavigation.nav == "guides-developpeur" %}
        {% set navLinks = collections.developpeurNavigation | filterCollectionLang | eleventyNavigation %}
        {% set navCollection = collections.developpeurNavigation %}
        {% set sidemenuTitle = "Guides développeur" %}
      {% elif eleventyNavigation.nav == "ign" %}
        {% set navLinks = collections.ignNavigation | filterCollectionLang | eleventyNavigation %}
        {% set navCollection = collections.ignNavigation %}
        {% set sidemenuTitle = "Institut national de l'information géographique et forestière" %}
      {% endif %}
      {% include "templates/sidemenu.njk" %}
    </div>
    <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          {% if showBreadcrumb %}
            {% include "components/breadcrumb.njk" %}
          {% endif %}
          <h1>{{ title }}</h1>
          {% include "components/published_on.njk" %}
          {% if description %}
            <p class="fr-text--lead">{{ description }}</p>
          {% endif %}
        </div>
      </div>
      {{ content | safe }}
      {% if eleventyNavigation and eleventyNavigation.key %}
        {% set currentKey = eleventyNavigation.key %}
        {% set children = [] %}
        {% for entry in navCollection %}
          {% if entry.data.eleventyNavigation.parent == currentKey %}
            {% set _ = children.push(entry) %}
          {% endif %}
        {% endfor %}

        {% set children = children | sort(attribute = "data.eleventyNavigation.order") %}
        {% set items = children %}
        {% set columns = 4 %}
        {% set title_tag = "h2" %}
        {% include "components/tile_list.njk" %}
      {% endif %}
      {% include "components/page_switcher.njk" %}
    </div>
  </div>
</div>