---
layout: layouts/base.njk
---

{% from "components/component.njk" import component with context %}
<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-4">
      {% include "templates/sidemenu_prod.njk" %}
    </div>
    <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          {% if showBreadcrumb %}
                        {% include "components/breadcrumb.njk" %}
                    {% endif %}
                    <h1>{{ title }}</h1>
                    {% include "components/taggroup-disabled.njk" %}
                    <p class="fr-text--xs fr-mt-6v">
                        {{ "published_on" | i18n }}
                        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
                    </p>

                    {% if description %}<p class="fr-text--lead">{{ description }}</p>{% endif %}
        </div> 
      </div>
      {{ content | safe }}
    </div>
  </div>
</div>
