---
layout: layouts/base.njk
---

{% from "components/component.njk" import component with context %}
<div class="fr-container" data-pagefind-ignore>
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-4">
      {% set navLinks = collections.utilisateurNavigation | filterCollectionLang | eleventyNavigation %}
      {% set sidemenuTitle = "Guides utilisateur" %}
      {% set sidemenuLink = "/fr/guides/utilisateur/" %}
      {% include "templates/sidemenu.njk" %}
    </div>
    <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          {% if showBreadcrumb %}
            {% include "components/breadcrumb.njk" %}
          {% endif %}
          <h1>{{ title }}</h1>
          {% include "components/taggroup-disabled.njk" %}
          {% include "components/published_on.njk" %}
          {% if description %}
            <p class="fr-text--lead">{{ description }}</p>
          {% endif %}
        </div>
      </div>
      {{ content | safe }}

      {% if eleventyNavigation and eleventyNavigation.key %}
        {% set currentKey = eleventyNavigation.key %}
        {% set topLevelPages = [] %}
        
        {% for entry in collections.utilisateurNavigation %}
          {% if not entry.data.eleventyNavigation.parent %}
            {% set _ = topLevelPages.push(entry) %}
          {% endif %}
        {% endfor %}

        {% set topLevelPages = topLevelPages | sort(attribute="data.eleventyNavigation.order") %}

        {% if topLevelPages.length %}
          <div class="fr-grid-row fr-grid-row--gutters fr-mt-6w">
            {% for page in topLevelPages %}
              <div class="fr-col-12 fr-col-md-6 fr-col-lg-6">
                {% set tile = {
                  title: page.data.title,
                  url: page.url,
                  description: page.data.description,
                  pictogram: page.data.pictogram,
                  externalUrl: page.data.externalUrl
                } %}
                {% include "components/tile.njk" %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}

      {% include "components/page-switcher.njk" %}
    </div>
  </div>
</div>