# Sample workflow for building and deploying an Eleventy site to GitHub Pages
name: Build & Deploy Eleventy with GitHub Pages dependencies preinstalled

on:
    # Runs on pushes targeting the default branch
    push:
        branches-ignore:
            - "dependabot/**"
            - "renovate/**"
    pull_request:

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: write

jobs:
    build:
        name: Generate a static build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - name: Build with Eleventy
              run: |
                  npm install
                  npm run build-ghpages
            - name: Index site for pagefind
              run: npm run postbuild
            - name: Upload artifact
              uses: actions/upload-pages-artifact@v4

    deploy-ghpages:
        name: Deploy to github pages
        if: github.event_name == 'push' && github.ref_name == 'main' && github.repository == 'IGNF/cartes.gouv.fr-documentation'
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        # Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
        # However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
        concurrency:
            group: "pages"
            cancel-in-progress: false
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
